body {
    margin: 10px 150px;
    height: 730px;
    background-color: lightblue;
}

header {
    padding-top: 1px;
    height: 150px;
    background-color: #3366cc;
}

main {
    background-color: #6699cc;
    margin-top: -50px;
    padding-top: 0px;
    padding-bottom: 20px;
    
}

header h1 {
    margin: 50px;
    margin-left: 40px;
    float: left;
    text-decoration: underline;
}

header h2 {
    margin: 55px;
    margin-right: 40px;
    float: right;
}

.form-group {
    width: 200px; 
}

.form-control {
    margin-bottom: 5px;   
}

.infield {
    margin-left: 0px;
}

form {
    margin: 30px;
}